# Core ML & embeddings
sentence-transformers
torch
transformers

# Vector search
faiss-cpu
qdrant-client

# BM25 retrieval
rank_bm25

# LLM APIs
langchain
langchain_groq
langchain_core
langchain_community

# for chunking
langchain-text-splitters

# NLTK library for text splitting
nltk

#spacy library for text splitting
spacy

# Data handling
numpy
pandas

# Environment variables
python-dotenv
